
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
   
    <li class="nav-item">
      <a class="nav-link" href="Admin.php">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-view-dashboard menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="Admin_UserList.php">
        <span class="menu-title">User List</span>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="Admin_AddUser.php">
        <span class="menu-title">Add User</span>
        <i class="mdi mdi-account-plus menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="Admin_StocksList.php">
        <span class="menu-title">Stocks</span>
        <i class="mdi mdi-chart-line menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="../index.html">
        <span class="menu-title">Home Page</span>
        <i class="mdi mdi-home  menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>